<li>
	{{name}}
	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}DEVOUR IT!{{else}}READY TO SELL!{{/if}}
	</button>
	{{!-- <button class="deleteBurger" data-id="{{id}}">
		DELETE!
	</button> --}}
</li>